* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  /*background-repeat: no-repeat;*/
  color: #fff;
  font-size: 100px;
  width: 100%;
}

.sign-up {
  background: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}



/* BEGIN SECTION*/

/* Variables */
:root {
  --white: #e9e9e9;
  --gray: #333;
  --blue: #0367a6;
  --lightblue: #008997;
  --button-radius: 0.7rem;
  --max-width: 758px;
  --max-height: 420px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* General styles for body are not needed here to prevent conflicts */

/* Encapsulated styles for the login/signup component */
.login-signup-container {
  align-items: center;
  display: grid;
  place-items: center;
}

.login-signup-container .container {
  background-color: var(--white);
  border-radius: var(--button-radius);
  box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25), 0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
  height: var(--max-height);
  max-width: var(--max-width);
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 10%;
}

.login-signup-container .container__form {
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.6s ease-in-out;
}

.login-signup-container .container--signin {
  left: 0;
  width: 50%;
  z-index: 2;
}

.login-signup-container .container.right-panel-active .container--signin {
  transform: translateX(100%);
}

.login-signup-container .container--signup {
  left: 0;
  opacity: 0;
  width: 50%;
  z-index: 1;
}

.login-signup-container .container.right-panel-active .container--signup {
  animation: show 0.6s;
  opacity: 1;
  transform: translateX(100%);
  z-index: 5;
}

.login-signup-container .container__overlay {
  height: 100%;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: transform 0.6s ease-in-out;
  width: 50%;
  z-index: 100;
}

.login-signup-container .container.right-panel-active .container__overlay {
  transform: translateX(-100%);
}

.login-signup-container .overlay {
  background-color: var(--lightblue);
  background-image: url('/images/GradientMesh_Light.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: -100%;
  position: relative;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  width: 200%;
}

.login-signup-container .container.right-panel-active .overlay {
  transform: translateX(50%);
}

.login-signup-container .overlay__panel {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  width: 50%;
}

.login-signup-container .overlay--left {
  transform: translateX(-20%);
}

.login-signup-container .container.right-panel-active .overlay--left {
  transform: translateX(0);
}

.login-signup-container .overlay--right {
  right: 0;
  transform: translateX(0);
}

.login-signup-container .container.right-panel-active .overlay--right {
  transform: translateX(20%);
}

.login-signup-container .btn {
  background-color: var(--blue);
  background-image: linear-gradient(90deg, var(#311B92) 0%, var(#0C0725) 74%);
  border-radius: 20px;
  border: 1px solid var(--blue);
  color: var(--white);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 0.9rem 4rem;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.login-signup-container .form > .btn {
  margin-top: 1.5rem;
}

.login-signup-container .btn:active {
  transform: scale(0.95);
}

.login-signup-container .btn:focus {
  outline: none;
}

.login-signup-container .form {
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 3rem;
  height: 100%;
  text-align: center;
}

.login-signup-container .input {
  background-color: #fff;
  border: none;
  padding: 0.9rem 0.9rem;
  margin: 0.5rem 0;
  width: 100%;
}

.login-signup-container .form__title {
  font-weight: 300;
  margin: 0;
  margin-bottom: 1.25rem;
}

.login-signup-container .link {
  color: var(--gray);
  font-size: 0.9rem;
  margin: 1.5rem 0;
  text-decoration: none;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}



.logo {
  position: absolute;
  width: 133px; /* Ajusta el tamaño según tus necesidades */
  height: auto;
}

.logo-signup {
  top: 56px;
  left: 40px;
}

.logo-signin {
  top: 56px;
  right: 40px;
}


/*DASHBOARD SECTION*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}
/*----------bootstrap-navbar-css------------*/
.navbar-logo{
	padding: 15px;
	color: #fff;
}
.navbar-mainbg{
	background-color: #5161ce;
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #5161ce;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5161ce;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}


@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}


/* Loading animation */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}

.loading-spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Question and Answer Styles */
.question-answer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.question-answer {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.question-answer h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.question-answer p {
  font-size: 1rem;
  color: #333;
}

/* Your existing styles */

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.products {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
  height: unset;
}

.drop-zones {
  display: flex;
  gap: 40px;
}

.drop-zone {
  width: 250px;
  height: 250px;
  border: 2px dashed #007bff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #555;
  background-color: #f9f9f9;
  padding: 20px;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
}

.drop-zone:hover {
  background-color: #e0e7ff;
  border-color: #0056b3;
}

.drop-zone p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
}

.drop-zone ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 0;
  width: 100%;
  overflow-y: auto;
  font-size: 14px;
}

.drop-zone li {
  word-break: break-all;
}

/* fix global styles */
html, body, #root{
  height: 100%;
}

/* src/App.css */
.app-layout {
  display: flex;
  height: 100vh;
}

.main-layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content-area {
  padding: 20px;
  background: #ecf0f1;
  flex-grow: 1;
}


/*BOTTOM */


.btn.google-btn {
  background-color: #4285F4;
  color: white;
  margin-top: 10px;
}

.btn.google-btn:hover {
  background-color: #357ae8;
}